body {
    background: #f2f2f2;
    font-style: italic;
    color: #484848;
    font-size: 0.85em;
    font-family: Verdana,Geneva,sans-serif;
}

/* en-tête du site */

header {
    background: url('../img/header-bg.jpg') 0 0 repeat;
}

header div:first-child {
    height:95px;
}

/* Titre de la page */

h1 {
    font-family: 'Just Me Again Down Here',cursive;
}

h1 span {
    color: #ff9000;
}

.ligne-dotted-top {
    background: url('../img/line-1.gif') 0 top repeat-x;
}

.ligne-dotted-bottom {
    background: url('../img/line-1.gif') 0 bottom repeat-x;
}

/* Barre de navigation */

.navbar-light .navbar-nav a.nav-link {
    font-family: 'Just Me Again Down Here',cursive;
    font-size: 25px;
    color: #f2f2f2;
}

.navbar-light .navbar-nav a.nav-link:link {
    font-family: 'Just Me Again Down Here',cursive;
    font-size: 25px;
    color: #f2f2f2;
}

.navbar-light .navbar-nav a.nav-link:hover {
    font-family: 'Just Me Again Down Here',cursive;
    font-size: 25px;
    color: #ff9000;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
    background-color: #f2f2f2;
}

#navbarNavAltMarkup {
    z-index:1000;
    background: url('../img/header-bg.jpg') 0 0 repeat;
}

/* contenu de la page */

section a {
    text-decoration: none;
    color: #007c9e;
}

/* Pied de page */

footer {
    background: url('../img/header-bg.jpg') 0 0 repeat;
}

footer a {
    color: #f2f2f2;
}

footer a:link {
    color: #f2f2f2;
}

footer a:hover {
    color: #ff9000;
}

footer i {
    font-size:1.75em;
}