nav a {text-decoration:none; cursor:pointer;} 
nav a:hover {text-decoration:none;}

/*********************************header*************************************/
header{ width:100%; background:url(../images/header-bg.jpg) 0 0 repeat; border-bottom:#fff 1px solid;}
header>div {width:100%; background:url(../images/header-bg-shadow.png) 0 bottom repeat-x; padding-bottom:17px;}
header>div>div {width:960px; margin:0 auto;}

nav {display:inline-block; /*z-index:1111;*/ position:relative; float:right;}

ul.menu {margin:28px 10px 0px 0px; display:inline-block;}
ul.menu li {float:left; line-height:30px; margin:0px 0px 0px 44px;}
ul.menu li:hover, ul.menu li.current {}
ul.menu li a {font-size:25px; line-height:30px; color:#f2f2f2; display:inline-block; }
ul.menu li a:hover , ul.menu li.current a { color:#ff9000; }

/*********************************content*************************************/
