ErrorDocument 404 /404.php
ErrorDocument 410 /410.php

<IfModule mod_rewrite.c>
RewriteEngine On

# Bots sociaux (Facebook / Twitter)
RewriteCond %{HTTP_USER_AGENT} ^facebookexternalhit [OR]
RewriteCond %{HTTP_USER_AGENT} ^Twitterbot
RewriteRule ^.*$ - [L]

# Suppression des dossiers obsolètes
RewriteRule ^pdf/ - [G]
RewriteRule ^selfhtml/ - [G]
</IfModule>

# Redirection permanente du fichier to8.php
Redirect 301 /to8.php https://to8.boitasite.com/index.php

RewriteEngine On

RewriteCond %{REQUEST_URI} ^/to8
RewriteRule ^.*$ https://to8.boitasite.com/ [R=301,L]
