ErrorDocument 404 /404.php

<IfModule mod_rewrite.c>
RewriteEngine On

# Bots sociaux (Facebook / Twitter)
RewriteCond %{HTTP_USER_AGENT} ^facebookexternalhit [OR]
RewriteCond %{HTTP_USER_AGENT} ^Twitterbot
RewriteRule ^.*$ - [L]

# Suppression des dossiers obsolètes
RewriteRule ^pdf/ - [G]
RewriteRule ^selfhtml/ - [G]
</IfModule>

# Redirection permanente
Redirect 301 /to8.php https://t08.boitasite.com/index.php
